.pagination-nav
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 250px

    p
        color: $secondary-color
        background-color: $primary-color
        padding: 10px
        border-radius: 4px
        font-size: 20px
        width: 45px
        height: 45px
        text-align: center
        font-weight: bold

.arrow-div
    display: flex
    align-items: center
    justify-content: center
    background-color: $primary-color
    padding: 10px
    border-radius: 4px
    width: 45px
    height: 45px
    text-align: center

    .arrow-icon
        color: $secondary-color
        font-size: 20px

.disabled
    background-color: $primary-color-light !important