<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Planinarenje</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
        Hiking icons created by Freepik - Flaticon
        https://www.flaticon.com/free-icons/hiking
    -->
    <link rel="icon" type="image/png" href="{{ asset('static/images/favicon.png') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{ asset('static/css/index.css') }}?v={{ "now"|date('U') }}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="menu">
        {% include "segments/header.html.twig" with {'hikingAssociationId': hikingAssociationId|default(null)} %}
    </div>

    <div id="main-content">

    </div>

{% do pimcore_head_script().appendFile(asset('static/js/jquery-3.7.1-min.js')).appendFile(asset('static/js/index.js')) %}
{{ pimcore_head_script() }}
</body>
</html>
