<div id="login">
    <form id="login-form" action="{{ path('login_check') }}" method="post">
        <div class="label-input-container-up">
            <label class="label" for="email">EMAIL</label>
            <input class="input" type="email" id="email" name="email" required="required" placeholder="Email..." value="{{ last_email }}">
        </div>
        <div class="label-input-container-up">
            <label class="label" for="password">LOZINKA</label>
            <input class="input" type="password" id="password" name="password" required="required" placeholder="Lozinka...">
        </div>
        <div>
            <input type="checkbox" id="remember-me" name="_remember_me">
            <label for="remember-me">Zapamti me</label>
        </div>
        {% if error is defined and error is not empty %}
            <p class="input-error">* {{ error.message|default('')|trans }}</p>
        {% endif %}
        <div>
            <button id="login-button" type="submit">PRIJAVI SE</button>
        </div>
    </form>
</div>