<div class="center">
    <div class="center info-content middle-page">
        <p class="name">{{ hikingAssociation.name }}</p>
        <p class="sub-name">{{ hikingAssociation.city.name }}</p><br>
        <p class="paragraph">{{ hikingAssociation.about }}</p>

        <img class="info-logo" src="{{ hikingAssociation.logo.getThumbnail("LogoInfo").getAsFormat("webp") }}">
    </div>
</div>