<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
<div class="email-container">
    <div class="email-title">{{ pimcore_input('EmailTitle', {'width': 500}) }}</div>
    <div class="email-body">{{ pimcore_wysiwyg('EmailBody', {'height': 300}) }}</div>
    </div>
</body>
</html>